@import './base';

.pulse {
  animation: pulse 1s infinite;

  &:hover {
    animation: none;
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1.0);
  }
  70% {
    transform: scale(1.2);
    font-weight: bold;
  }
  100% {
      transform: scale(1.0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1.0);
  }
  70% {
    transform: scale(1.2);
    font-weight: bold;
  }
  100% {
      transform: scale(1.0);
  }
}
